---
    const { image, title, description, tags, url } = Astro.props
---
<article  class="relative group  rounded overflow-hidden shadow-md shadow-[#121212]  " >
    <a href={url} class="relative h-48 overflow-hidden">
    {image && <img loading="lazy" class=" w-full h-48 group-hover:scale-105 overflow-hidden" src={image.src} alt={image?.alt} />}
    <div class="absolute top-0 flex flex-col justify-end group-hover:scale-110 bottom-0 w-full px-6 py-4 bg-gradient-to-t from-[#111] to-transparent">
      <div class="font-bold text-xl mb-2 truncate">{title}</div>
      <p class="text-[#ccc] text-sm line-clamp-3">
        {description}
      </p>
      
    </div>
    </a>
    <div class="z-10 px-2 pt-2 pb-2 ">
      {tags?.length > 0 && tags.map((tag) => (
          <a href={`#${tag}`} class="group inline-block bg-[#222] rounded-full px-3 py-1 text-xs font-semibold text-green-500 mr-2 mb-2">#{tag}</a>
        ))}
     </div> 
  </article>