---
import { getCollection, getEntry } from 'astro:content';
import BlogLayout from '../../layouts/BlogLayout.astro';
import { SITE_NAME } from '@lib/constants';
import Avatar from '@components/Avatar.astro';
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection('blogs');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
const relatedBlogs = await getCollection('blogs',(e) => {
  
  let listOfslugs = entry.data?.relatedBlogs?.map((e: { slug: string; }) => e.slug)

  return e.data.draft !== true && listOfslugs && (listOfslugs.includes(e.slug));
})
//console.log(relatedBlogs)

const author = entry.data.author ? await getEntry('authors', entry.data.author.id) : null;

---
<BlogLayout 
  title={`${entry.data.title} - ${SITE_NAME}`} 
  description={`${entry.data?.description} - ${SITE_NAME}`} 
  keywords={entry.data?.tags}
  author={entry.data?.author} 
  relatedBlogs={relatedBlogs}
>
    <div>
      <div class="flex flex-row items-center gap-2 my-2" slot="header">
        <Avatar image={author?.data?.image} />
        
        <div>
          <div>{author?.data?.name}</div>
          <time>12 Nov 2023</time>
        </div>
      </div>
      
    
    <Content />
</BlogLayout>