---
import Avatar from "@components/Avatar.astro";
import BlogList from "@components/blogs/BlogList.astro";
import MySiteLayout from "@layouts/MySiteLayout.astro"

const {title, description, keywords, author, relatedBlogs, date} = Astro.props;
let bigscreen = relatedBlogs && relatedBlogs.length >0 ? "grid-cols-[auto_300px]" : ""
---

<MySiteLayout title={title} keywords={keywords} description={description} author={author}>
    <div class={`grid grid-cols-1 2xl:${bigscreen} gap-4 relative`}>
        <div class="block prose mx-auto min-w-[65ch]  prose-zinc dark:prose-invert">
            <slot name="header" />
            <div class="prose-h1:hidden">
                <slot  />
            </div>
        </div>
        {relatedBlogs && relatedBlogs.length >0 && <div class="">
            
                <div class="relative my-10 2xl:my-0 ">
                    <h2 class="font-medium  uppercase">Related blogs</h2>
                    <BlogList blogs={relatedBlogs}  />
                </div>
            
        </div>}
        
    </div>
</MySiteLayout>
