---
import Avatar from "@components/Avatar.astro";
import BlogList from "@components/blogs/BlogList.astro";
import MySiteLayout from "@layouts/MySiteLayout.astro"

const {title, description, keywords, author, relatedBlogs, date} = Astro.props;
let bigscreen = relatedBlogs && relatedBlogs.length >0 ? "2xl:grid-cols-[auto_300px]" : ""
---

<MySiteLayout title={title} keywords={keywords} description={description} author={author}>
    <div class={`grid grid-cols-1 ${bigscreen} gap-8 relative`}>
            
            <div class="mx-auto w-full prose md:prose-lg lg:prose-xl  dark:prose-invert dark:prose-headings:text-slate-300  prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-blue-600 dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow-lg mt-8"
            >
                <slot name="header" />
                <div class="prose-h1:hidden">
                    <slot  />
                </div>
                
            </div>
        {true && <div class="">
            
                <div class="relative my-10 2xl:my-0 space-y-4">
                    <h2 class="font-bold font-heading text-base md:text-lg leading-tighter tracking-tighter uppercase">Related blogs</h2>
                    <BlogList blogs={relatedBlogs}  />
                </div>
            
        </div>}
        
    </div>
</MySiteLayout>
